<script setup lang="ts">
import { useHomeStore } from '@/stores/homeStore';
import type { Ref } from 'vue';

const homeStore = useHomeStore()
</script>

<template>
  <div><button @click="homeStore.doInc">{{ homeStore.num }}</button></div>
</template>