<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
const addressBookStore = useAddressBookStore()
</script>

<template>
  <div v-if="addressBookStore.isAddNew">
    <div>
      <label for="name">name</label>
      <input id="name" type="text" v-model="addressBookStore.address.name">
    </div>
    <div>
      <label for="gender">gender:</label>
      <select id="gender" v-model="addressBookStore.address.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>


      </select>
    </div>
    <div>
      <label for="Tel">Tel:</label>
      <input id="tel0" type="text" v-model="addressBookStore.address.tel">
    </div>
    <div><button @click="addressBookStore.cancel()">Cancel</button><button @click="addressBookStore.save">Save</button>
    </div>
    <div>
    </div>
  </div>
</template>
<style scoped>
input,
select,
label {
  font-family: 'Kanit';
  font-size: 20pt;
  margin: 5px;
}

button,
select {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}
</style>