<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
const addressBookStore = useAddressBookStore()

</script>

<template>
  <div>
    <button @click="addressBookStore.isAddNew = !addressBookStore.isAddNew">Add</button>
    <table>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>gender</th>
        <th>tel</th>
        <th>operation</th>
      </tr>
      <!-- key ต้องดูว่าตัวไหน unique แล้วก็set เป็น key -->
      <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
        <td>{{ ad.id }}</td>
        <td>{{ ad.name }}</td>
        <td>{{ ad.gender }}</td>
        <td>{{ ad.tel }}</td>
        <td>
          <button @click="addressBookStore.edit(ad.id)">Edit</button>
          <button @click="addressBookStore.remove(ad.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</template>
<style scoped>
button,
input,
select,
label {
  font-family: 'Kanit';
  font-size: 12pt;
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #04AA6D;
  color: white;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>